.home-banner {
  // background-image: url('../../app/assets/images/cocktails_banner.jpeg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 2px 2px black;
}
