.navbar-lewagon {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
  // position: sticky;
  // top: 0;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  justify-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}